{% macro nav_loop(page) %}
    {% import _self as macros %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'selected' : '' %}

        {% if p.children.visible.count > 0 and p.header.submenu %}
            <li class="has-children {{ current_page }}">
                <input type="checkbox" id="overlay">
                <label for="overlay">{{ p.menu }}
                </label>
                <ul class="level-2">{{ macros.nav_loop(p) }}</ul>
            </li>
        {% else %}
            <li class="{{ current_page }}">
                <a href="{{ p.url }}">{{ p.menu }}</a>
            </li>
        {% endif %}
    
    {% endfor %}
{% endmacro %}