{% extends 'partials/base.html.twig' %}
{# Here we get the collection of the parent #}
{% set comic_page = page.parent.children %}


{% block content %}
<div class="comic-page">
  <div class="comic-nav">
    {% if not comic_page.isFirst(page.path) %}<a class="nav nav-first" href="{{ comic_page.first(page.path).url }}"><i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i></a>{% endif %}
    {% if not comic_page.isFirst(page.path) %}<a class="nav nav-prev" href="{{ comic_page.nextSibling(page.path).url }}"><i class="fa fa-chevron-left"></i></a>{% endif %}
  </div>

  <div class="comic-block">
    {{ page.content }}
    {% for image in page.media.images %}
      <div class="comic-image" align="center">
          {% if not comic_page.isLast(page.path) %}<a href="{{ comic_page.prevSibling(page.path).url }}">{% endif %}{{ image.html }}{% if not comic_page.isLast(page.path) %}</a>{% endif %}
      </div>
    {% endfor %}
  </div>

  <div class="comic-nav">
      {% if not comic_page.isLast(page.path) %}<a class="nav nav-next" href="{{ comic_page.prevSibling(page.path).url }}"><i class="fa fa-chevron-right"></i></a>{% endif %}
      {% if not comic_page.isLast(page.path) %}<a class="nav nav-next" href="{{ comic_page.last(page.path).url }}"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i></a>{% endif %}
  </div>

</div>
{% endblock %}